<div style="text-align: right;"><%= link_to "Back", :back  %></div>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>mobile no</th>
      <th>email</th>
      <th>city</th>
      <th>state</th>
      <th>country</th>
    </tr>
  </thead>

  <tbody>
   
      <tr >
        <td class="resource_data"><%= @user.name %></td>
        <td class="resource_data"><%= @user.mobile_no %></td>
        <td class="resource_data"><%= @user.email %></td>
        <td class="resource_data"><%= @user.addresses.first.city%></td>
        <td class="resource_data"><%= @user.addresses.first.state%></td>  
        <td class="resource_data"><%= @user.addresses.first.country%></td>
        <td class="link_data"><%= link_to 'Edit', edit_user_registration_path(@user) %></td>
        <td class="link_data"><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>
