<div style="text-align: right;"><%= link_to "Back", :back  %></div>

<br>
<table>
  <thead>
    <tr>
      <th colspan="3"><h1>Listing Borrows</h1></th>
    </tr>
    <tr>
      <th>Book Title</th>
      <th>User name</th>
    </tr>
  </thead>
  <tbody>
    <% @borrows.each do |borrow| %>
      <tr id="user_listing">
        <td class="resource_data"><%= Book.find(borrow.book_id).title %></td>
        <td class="resource_data"><%= User.find(borrow.user_id).name %></td>
        <% if can? :manage, current_user %>
          <td class="resource_data">
          <%= link_to_if (Book.find(borrow.book_id).status != 'issued'), 'issue book',  borrow_path(borrow), method: :put %></td>
        <% end %>
        <% if borrow.user_id == current_user.id or can? :manage, User %>
          <td class="resource_data">
            <%= link_to 'cancel request', borrow_path(borrow), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>          
          <% if Book.find(borrow.book_id).status.eql? 'issued' %>
          <td class="resource_data"><%= link_to 'return_book',  borrows_return_book_path(:user_id => current_user, :book_id => borrow.book_id) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
