<div style="text-align: right;"><%= link_to "Back", :back  %></div>

<br>
<table>
  <thead>
    <tr>
      <th colspan="3"><h1>Calculate fine</h1></th>
    </tr>
    <tr>
      <th>Book Title</th>
      <th>User</th>
      <th>issue_date</th>
      <th>due_date</th>
      <th>return date</th>
      <th>Total fine</th>
    </tr>
  </thead>
  <tbody>
      <tr id="user_listing">
        <td class="resource_data"><%= @borrow.book_id %></td>
        <td class="resource_data"><%= @borrow.user_id %></td>
        <td class="resource_data"><%= @borrow.issue_date %></td>
        <td class="resource_data"><%= @borrow.due_date %></td>
        <td class="resource_data"><%= @borrow.return_date %></td>
        <td class="resource_data"><%= @borrow.fine%></td>       
        <td colspan="4"><%= link_to 'ok', borrow_path(@borrow), method: :delete %></td>
      </tr>
   </tbody>
</table>
